In [17]:
import pandas as pd

data = pd.read_csv('train.csv')

In [18]:
data

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...
24778,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,6,0,6,0,1,youu got wild bitches tellin you lies
24782,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [20]:
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

# Initialize objects
stemmer = PorterStemmer()
stop_words = set(stopwords.words('english'))

# Define a function to handle all the preprocessing
def preprocess_text(text):
    # Tokenize and stem
    words = word_tokenize(text.lower())
    words = [stemmer.stem(word) for word in words if word.isalpha()]

    # Remove stopwords
    words = [word for word in words if word not in stop_words]
    
    return words

# Apply preprocessing to your text column
data['processed_tweet'] = data['tweet'].apply(preprocess_text)

data

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ivanbelgacem/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet,processed_tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,"[rt, mayasolov, woman, complain, clean, hous, ..."
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,"[rt, boy, dat, cold, tyga, dwn, bad, cuffin, d..."
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,"[rt, urkindofbrand, dawg, rt, ever, fuck, bitc..."
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,"[rt, look, like, tranni]"
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,"[rt, shenikarobert, shit, hear, might, true, m..."
...,...,...,...,...,...,...,...
24778,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,"[muthaf, lie, lifeask, right, hi, tl, trash, m..."
24779,3,0,1,2,2,"you've gone and broke the wrong heart baby, an...","[gone, broke, wrong, heart, babi, drove, redne..."
24780,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...,"[young, buck, wan, na, eat, dat, nigguh, like,..."
24781,6,0,6,0,1,youu got wild bitches tellin you lies,"[youu, got, wild, bitch, tellin, lie]"
24782,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,"[ntac, eileen, dahlia, beauti, color, combin, ..."

In [24]:
data

,count,hate_speech_count,offensive_language_count,neither_count,class,processed_tweet
0,3,0,0,3,2,"[mayasolov, woman, complain, clean, hous, amp,..."
1,3,0,3,0,1,"[boy, dat, cold, tyga, dwn, bad, cuffin, dat, ..."
2,3,0,3,0,1,"[urkindofbrand, dawg, ever, fuck, bitch, start..."
3,3,0,2,1,1,"[look, like, tranni]"
4,6,0,6,0,1,"[shenikarobert, shit, hear, might, true, might..."
...,...,...,...,...,...,...
24778,3,0,2,1,1,"[muthaf, lie, lifeask, right, hi, tl, trash, m..."
24779,3,0,1,2,2,"[gone, broke, wrong, heart, babi, drove, redne..."
24780,3,0,3,0,1,"[young, buck, wan, na, eat, dat, nigguh, like,..."
24781,6,0,6,0,1,"[youu, got, wild, bitch, tellin, lie]"
24782,3,0,0,3,2,"[ntac, eileen, dahlia, beauti, color, combin, ..."

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

def dummy_func(doc):
    return doc

vectorizer = TfidfVectorizer(
    analyzer="word",
    tokenizer=dummy_func,
    preprocessor=dummy_func,
    token_pattern=None
)

data['processed_tweet'] = data['processed_tweet'].apply(lambda x: ' '.join(x))

X = vectorizer.fit_transform(data['processed_tweet'])

In [ ]:
def determine_category(row):
    max_count = max(row[''])